<!DOCTYPE html>
<head>
  <link rel="icon" href="/img/s7.jpg">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
  <p>{{errorMessage}}</p>
  </div>
  {{>footer}}
</body>

</html>